{{extend "./common/layout.html"}} {{block 'title'}}
<title>生产现场 - 无锡动力工程股份有限公司</title>
{{/block}} {{block 'link'}}
<link rel="stylesheet" href="/css/innav.css">
<link rel="stylesheet" href="/css/inmain.css">
<link rel="stylesheet" href="/css/inbanner.css"> {{/block}}
{{block 'style'}} {{/block}}
{{block 'content'}}
<div class="inbanner">
    <div class="title">
        <div class="cn">公司理念</div>
        <div class="en">为大众更快、更及时的了解我公司的信息提供便利</div>
    </div>
</div>
<div class="inpage">
    <div class="container">
        <!-- 导航栏 -->
        <div class="innav" data-spy="affix" data-offset-top="343.5">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#shengchan" data-toggle="tab">生产现场</a></li>
                <li><a href="/case">案例展示</a></li>
                <li><a href="/news">新闻动态</a></li>
                <li><a href="/video">企业视频</a></li>
            </ul>
        </div>
        <!-- 内容 -->
        <div class="tab-content">
            <div class="tab-pane active" id="shengchan">
                <div class="inmain">
                    <div class="intitle">
                        <h1>生产现场</h1>
                    </div>
                    <div class="wrapper">

                        <ul>
                            {{each idea}}
                            <li>
                                <a href="/settings/idea_item/{{$value._id.toString()}}">
                                    <div class="img">
                                        <img src="{{$value.img}}" alt="">
                                    </div>
                                    <div class="nam">{{$value.title}}</div>
                                </a>
                            </li>
                            {{/each}}
                        </ul>

                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li style="display: <%= page -1 < 1  ? 'none' : 'inline' %>">
                                    <a href="/idea?page=<%=page-1%>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="disabled">
                                    <span class="disabled">
                                        <</span> </li> <% for(var i=1;i<=total;i++) { %> <li><a
                                                href="/idea?page=<%=i%>">{{i}}</a></li>
                                <% } %>
                                <li>
                                    <span class="disabled">></span>
                                </li>
                                <li style="display: <%= page -0+1 > total ? 'none' : 'inline' %>">
                                    <a href="/idea?page=<%=page-0+1%>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}} {{block 'script'}} {{/block}}