.intro .container .culture-page .culture-title {
  margin: 20px 0;
}
.intro .container .culture-page .culture-title h1 {
  display: inline-block;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 3px solid #ed0e00;
  font-weight: 700;
  color: red;
}
.intro .container .culture-page .culture-img li {
  float: left;
  width: 50%;
  padding: 10px 10px;
}
.intro .container .culture-page .culture-img li img {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .intro .container .culture-page .culture-title {
    margin: 10px 0;
  }
  .intro .container .culture-page .culture-title h1 {
    font-size: 24px;
    line-height: 40px;
  }
  .intro .container .culture-page .culture-img li:first-child {
    width: 100%;
  }
}
