body .inbanner {
  background-image: url('/img/inbanner01.jpg');
}
.detail {
  width: 1020px;
  margin: 0 auto;
}
.detail .img-cyj {
  width: 100%;
}
.detail .img-cyj img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1020px) {
  .detail {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .detail .img-cyj img {
    width: 100%;
  }
}
.detail p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.detail h3 {
  font-size: 18px;
  color: #ed0e00;
  margin-bottom: 20px;
  position: relative;
  padding-left: 10px;
  font-weight: 700;
}
.detail h3::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ed0e00;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
}
.detail .product-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.detail .product-table th {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #dedede;
  background: #ed0e00;
}
.detail .product-table td {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 10px;
  color: #333;
  border: 1px solid #dedede;
  text-align: center;
}
.detail .product-table tr:nth-child(2n+1) td {
  background: #eee;
}
body .license {
  width: 748px;
  margin: 0 auto;
}
@media screen and (max-width: 748px) {
  body .license {
    width: 100%;
  }
  body .license > div img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 748px) {
  body .license > div {
    float: left;
  }
}
body .license p img {
  display: block;
  margin: 0 auto;
}
.footer-page {
  width: 1020px;
  border-top: 1px solid #dedede;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1020px) {
  .footer-page {
    width: 90%;
  }
}
.footer-page > div {
  width: 120px;
  height: 30px;
  border: 1px solid #dedede;
  margin-top: 10px;
  line-height: 30px;
  text-align: center;
}
.footer-page > div:nth-child(1) {
  position: absolute;
  left: 0;
}
.footer-page > div:nth-child(3) {
  position: absolute;
  right: 0;
}
.footer-page > div a {
  text-decoration: none;
  color: #333;
}
.footer-page > div:hover {
  border: 1px solid red;
  box-sizing: border-box;
  color: red;
}
.footer-page > div:hover a {
  color: red;
}
