{{extend '../common/layout.html'}}
{{block 'title'}}
<title>公司介绍</title>
{{/block}}
{{block 'link'}}
<link rel="stylesheet" href="/css/xhintro.css">
<link rel="stylesheet" href="/css/xhpage.css">
<link rel="stylesheet" href="/css/xhstock.css">
{{/block}}

{{block 'content'}}
<!-- 标语部分 -->
<div class="inbanner">
    <div class="container">
        <div class="title">
            <div class="company text-center">公司介绍</div>
            <div class="intro text-center">研制生产内燃机、涡轮增压器、柴油发电机组及其零部件的大型骨干企业</div>
        </div>
    </div>
</div>
<!-- 公司介绍模块 -->
<section class="intro clearfix">
    <div class="container">
        <ul class="nav page-tabs text-center clearfix" data-spy="affix" data-offset-top="260">
            <li class="active"><a href="/intro">公司简介</a></li>
            <li><a href="/honor">资质认证</a></li>
            <li><a href="/policy">HSE方针</a></li>
            <li><a href="/quality">质量方针</a></li>
            <li><a href="/culture">企业文化</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="title text-center">
                    <h1>公司60年历史</h1>
                </div>
                <div class="time clearfix">
                    <div class="item">
                        <div class="year"><em>1929-1956</em></div>
                        <div class="thing">
                            <div class="tit">
                                <a href="#">无锡动力机厂的起源——私营企业发展阶段</a>
                            </div>
                            <div class="con">
                                无锡动力机厂连续生产史可上溯至1929年。当时无锡地区已有15家内燃机制造厂，
                                形成无锡内燃机行业的雏形。工厂规模小，主要生产小型简单柴油机及配件，用于农用动力，
                                经历了8年抗战与内战的磨难，在艰难中缓慢发展…
                                <a href="/intro?id=1">[查看详情]</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year"><em>1966-1978</em></div>
                        <div class="thing">
                            <div class="tit">
                                <a href="#">成立无锡动力机厂——公私合营后动力机厂初期发展阶段</a>
                            </div>
                            <div class="con">
                                1956年，在社会主义改造高潮中，无锡地区60家私营企业（工场）经合并建立“公私合营无锡动力机制造厂”。经过公私合营2年建厂，3年“大跃进”，3年调整，工厂在各个方面多有了较大的发展。
                                到1964年，公私合营无锡动力机制造厂拥有固定资产为1281万元，员工人数1832人…
                                <a href="/intro?id=2">[查看详情]</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year"><em>1966-1978</em></div>
                        <div class="thing">
                            <div class="tit">
                                <a href="#">工厂内迁、厂校合并后在发展阶段</a>
                            </div>
                            <div class="con">
                                无锡动力机厂在这一阶段的发展过程中，几经重大历史变革。1965年，由国务院决定，工厂部分设备、人员内迁到四川重庆组建红岩机器厂，支援三线建设。1966年1月，第八机械工业部决定，无锡动力机厂与无锡农业机械制造学校厂校合并。
                                1970年10月原无锡柴油机厂增压器车间并入无锡动力机厂…
                                <a href="/intro?id=3">[查看详情]</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year"><em>1979-1993</em></div>
                        <div class="thing">
                            <div class="tit">
                                <a href="#">三厂一校分家后第三次再发展阶段</a>
                            </div>
                            <div class="con">
                                1978年12月，上级主管部门决定对无锡动力机厂按照产品方向进行改组，原无锡动力机厂分成三厂一校：无锡动力机厂（分立后的动力机厂）、无锡叶片厂（现无锡透平叶片有限公司）
                                、无锡龙山机械厂（现614研究所）、江苏省无锡机械制造学校（现无锡职业技术学院）…
                                <a href="/intro?id=4">[查看详情]</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year"><em>1994-2010</em></div>
                        <div class="thing">
                            <div class="tit">
                                <a href="#">成立无锡动力工程股份有限公司——企业转制后的发展阶段</a>
                            </div>
                            <div class="con">
                                1994年5月，经体改委发（1994）285号文批准，原动力机厂成建制转制为定向募集的股份制公司——无锡动力工程股份有限公司。同年12月，吸纳无锡发电设备厂等单位成立无锡万迪动力工程集团有限公司。
                                2004年7月1日，万迪集团进一步改制，企业改制重组进行国有股权转让…
                                <a href="/intro?id=5">[查看详情]</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="year"><em>2011-至今</em></div>
                        <div class="thing">
                            <div class="tit">
                                <a href="#">退城进园——搬迁进入新厂址后的发展阶段</a>
                            </div>
                            <div class="con">
                                2011年，万迪集团整体搬迁至江苏省无锡市锡山经济开发区东部园区新厂址。搬迁改造项目征地153亩，总投资4.5亿元。整体搬迁的企业主要包括无锡万迪动力集团有限公司总部、
                                主体企业无锡动力工程股份有限公司、无锡万迪精密机械有限公司和无锡华友发电设备有限公司…
                                <a href="/intro?id=6">[查看详情]</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 股份公司介绍 -->
                <section class="stock">
                    <div class="container">
                        <div class="stock-company">
                            <div class="stocktit text-center">
                                <h1>股份公司简介</h1>
                            </div>
                            <div stock-content>
                                <p>
                                    <strong>无锡动力工程股份有限公司</strong>
                                    是万迪动力集团旗下的主体企业，是专业研制、生产非道路用柴油机及其成套产品的省级高新技术企业。公司前身为成立于1956年的公私合营无锡动力机厂，1994年规范改制为无锡动力工程股份有限公司。公司位于江苏省无锡市锡山经济开发区东部园区
                                    ，占地面积6.88万平方米，目前具有5000台柴油机的生产能力。
                                </p>
                                <p>
                                    公司秉承创业六十多年形成的“爱厂自强争一流，共益共荣兴动力”企业精神，坚持创新变革，已成长为行业内知名企业。公司是中国机械工业企业管理协会第七届理事会理事单位，多次获得中国内燃机制造十强企业、中国内燃机行业排头兵企业、全国机械行业文明单位、中国机械500强等多项荣誉称号，
                                    并于2008年获得中国内燃机工业诞辰一百周年成就奖。
                                </p>
                                <p>
                                    公司研制、生产的万迪牌柴油机及其成套产品被授予江苏省著名商标，万迪品牌被评为“华尊奖-中国内燃机十大标志性品牌”，公司产品入选中国机械工业联合会《名、优、新机电产品目录》，被列入工信部首批推荐的节能机电产品。公司被中国产品质量协会授予“质量信用AAA标志”，取得全国工业产品生产许可证，获得出口产品质量许可证书。公司注重全面提升质量管理水平，通过了ISO9001:2008质量管理体系认证，同时为配合新一代新型、节能环保产品的研发和批产，公司全面推进ISO14001和OHSAS18001贯标
                                    ，并于2012年9月顺利通过了英国劳氏公司的认证。
                                </p>
                                <p>
                                    公司研制生产的“万迪”牌138、145、152缸径系列6缸和12缸柴油、燃气发动机，功率覆盖56 kW -1320
                                    kW，广泛应用于电站、船用、消防、钻探等配套领域。公司始终坚持走科技创新之路，不断用先进的内燃机核心技术改造传统的柴油机产品，采用HOLSET增压技术和BOSCH高压喷射技术，提升功率，改善性能，提高性价比，研制生产的大功率柴油机已成为国内非道路用领域深受用户欢迎的优选产品。公司产品于2018年4月通过了机械工业内燃机产品质量检测中心“GB20891-2014《非道路移动机械用柴油机排气污染
                                    物排放限值及测量方法（中国第三、四阶段）》标准的检测。
                                </p>
                                <p>
                                    公司与国内知名设计所及世界知名柴油机设计咨询公司合作研发具有领先水平的新一代“蓝迪”系列发动机，功率覆盖430kW-1320kW。该系列产品属国家科技项目《江苏省重大科技成果转化项目》认定产品，是功率强劲、运行可靠、性价比高的节能环保型产品，投放市场后深受用户欢迎和青睐，在机场（首都国际机场、浦东国际机场等）、交通（高铁、地铁、高速公路）、石油天然气输送（中俄天然气输送、中哈石油）、房地产（恒大、万科、碧桂园等）、大型养殖基地、高端酒店、三甲医院等非道路用配套动力领域得到了广泛应用。
                                </p>
                                <p>
                                    公司通过合资合作走出了成功的发展之路。由无锡动力工程股份有限公司（WD）和康明斯（中国）投资有限公司（CCI）合资经营的无锡范尼韦尔工程有限公司，是目前国内增压器涡轮叶轮的重要生产基地，随着涡轮业务的快速增长，已成为全球增压器涡轮的优质货源基地。
                                </p>
                                <p>
                                    　近年来，公司紧抓机遇，积极推动产品升级换代及工艺水平提升，致力提升企业管理水平。公司牢牢树立“和谐、诚信、共赢”的经营理念，大力弘扬“以人为本、统筹兼顾、崇尚变革、奋发图强”的企业文化，坚持以市场为导向，以客户为关注焦点，努力打造一流品牌动力，为企业相关方不断创造新的价值。
                                </p>
                            </div>
                            <ul class="img list-unstyled clearfix">
                                <li class=" text-center">
                                    <img src="/img/aboutimg01.jpg" alt="">
                                    <p>无锡动力工程股份有限公司</p>
                                </li>
                                <li class=" text-center">
                                    <img src="/img/aboutimg02.jpg" alt="">
                                    <p>无锡万迪精密机械有限公司</p>
                                </li>
                                <li class=" text-center">
                                    <img src="/img/aboutimg03.jpg" alt="">
                                    <p>无锡华友发电设备有限公司</p>
                                </li>
                                <li class=" text-center">
                                    <img src="/img/aboutimg04.jpg" alt="">
                                    <p>无锡康明新涡轮增压技术有限公司</p>
                                </li>
                                <li class=" text-center">
                                    <img src="/img/aboutimg05.jpg" alt="">
                                    <p>无锡范尼韦尔工程有限公司</p>
                                </li>
                            </ul>
                        </div>
                        <div class="group-conpany">
                            <div class="group stocktit text-center">
                                <h1>集团公司简介</h1>
                            </div>
                            <div class="company-contant">
                                <p>
                                    <strong>无锡万迪动力集团有限公司</strong>
                                    是研制生产内燃机、涡轮增压器零部件的大型骨干企业。公司前身为成立于1956年的公私合营无锡动力机厂，1994年吸纳无锡发电设备厂等单位成立无锡万迪动力工程集团有限公司。2004年转改制为多元投资主体的有限责任公司，2008年1月国有股全部退出，成为由企业内部经营骨干持股的民营企业，
                                    2011年2月更名为无锡万迪动力集团有限公司。
                                </p>
                                <p>
                                    万迪动力集团现由主体企业无锡动力工程股份有限公司、中外合资无锡范尼韦尔工程有限公司组成。无锡动力工程股份有限公司是中国内燃机工业协
                                    会中缸径多缸柴油机分会的副理事长单位，江苏省高新技术企业。
                                </p>
                                <p>
                                    公司研制、生产的万迪牌柴油机及其成套产品获得出口产品质量许可证书，被授予江苏省著名商标和江苏名牌产品称号。压燃式多缸内燃机（WD138系列）被列入工信部
                                    《节能机电设备（产品）推荐目录》，获颁机械工业节能机电设备（产品）证书。
                                </p>
                                <p>
                                    2011年初，万迪动力集团和主体企业无锡动力工程股份有限公司整体搬迁至江苏省锡山经济开发区东部园区新厂区。合资企业无锡范尼韦尔工程有限公司于2008年搬入无锡市高新
                                    技术开发区新厂区，已建成为国内增压器涡轮重要的研发、制造基地。
                                </p>
                                <p>
                                    公司努力践行企业转型升级发展之路，主体企业全力推动柴油机主营业务上台阶。公司不断用先进的内燃机核心技术改造传统的柴油机产品，采用HOLSET增压技术和BOSCH高压喷射技术，提升功率、改善性能、提高性价比，研制生产的WD系列及蓝迪系列柴油机，功率覆盖56kW-1320kW，产品广泛应用于电站、消防、工业用等配套领域，大功率柴油机已成为非道路用领域深受用户欢迎的优选产品。公司通过自主研发以及与国内国际专业机构合作，成功开发了蓝迪系列柴油机，多项指标达到国内同行领先水平，拥有多个自主知识产权，
                                    已批量进入市场，成为公司的主打产品和一个全新的产品平台。
                                </p>
                                <p>
                                    　与此同时，公司积极实施增压器业务国际化战略，通过合资合作走出了成功的发展之路，为企业和当地经济的发展作出了贡献。中外合资无锡范尼韦尔工程有限公司凭借国际领先的技术、严格有序的管理体系、训练有素的员工以及持续改进的理念，业务快速增长，世界上重要的优质增压器涡轮货源基地。
                                </p>
                                <p>
                                    回首六十多年的创业历程，动力人从未停止过勤奋开拓、锐意进取、改革创新的步伐，用智慧与勇气收获了企业的健康发展和辉煌。今天，站在新的起点与平台，万迪动力集团将牢牢树立“和谐、诚信、共赢”的经营理念，着眼未来，全力推进“努力打造大功率柴油机一流品牌、增压器配套精铸业务国际化”的战略任务。
                                </p>
                                <div>
                                    <img src="/img/about01.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}
<script src="/js/xhindex.js"></script>
{{/block}}