{{extend '../common/layout.html'}}
{{block 'title'}}
<title>HSE方针</title>
{{/block}}
{{block 'link'}}
<link rel="stylesheet" href="/css/xhintro.css">
<link rel="stylesheet" href="/css/xhpage.css">
<link rel="stylesheet" href="/css/xhpolicy.css">
{{/block}}
{{block 'content'}}
<!-- 标语部分 -->
<div class="inbanner">
    <div class="container">
        <div class="title">
            <div class="company text-center">公司介绍</div>
            <div class="intro text-center">研制生产内燃机、涡轮增压器、柴油发电机组及其零部件的大型骨干企业</div>
        </div>
    </div>
</div>
<!-- 公司介绍模块 -->
<section class="intro clearfix">
    <div class="container">
        <ul class="nav page-tabs text-center clearfix" data-spy="affix" data-offset-top="260">
            <li><a href="/intro">公司简介</a></li>
            <li><a href="/honor">资质认证</a></li>
            <li class="active"><a href="/policy">HSE方针</a></li>
            <li><a href="/quality">质量方针</a></li>
            <li><a href="/culture">企业文化</a></li>
        </ul>
        <div class="policy-page">
            <div class="policy-title text-center">
                <h1>HSE方针</h1>
            </div>
            <div class="policy-content text-center">
                <p>
                    <strong>环境职业健康安全方针</strong>
                </p>
                <p>
                    以“满足顾客需求，超越顾客期望”为宗旨，<br>

                    以符合法律法规和相关方要求为前提，<br>

                    注重技术与管理创新，持续减少资源耗用及对环境的负面影响，<br>

                    不断改善工作环境，实现企业与社会环境、人文环境的和谐发展。
                </p>
                <div class="img">
                    <img src="/img/hse01.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}
{{block 'script'}}
<script src="/js/xhindex.js"></script>
{{/block}}