{{extend '../common/layout.html'}}
{{block 'title'}}
<title>人才招聘</title>
{{/block}}
{{block 'link'}}
<link rel="stylesheet" href="/css/xhbanner.css">
<link rel="stylesheet" href="/css/xhnav.css">
<link rel="stylesheet" href="/css/xhmain.css">
{{/block}}
{{block 'content'}}
<div class="inbanner">
    <div class="title">
        <div class="cn">公司理念</div>
        <div class="en">为大众更快、更及时的了解我公司的信息提供便利</div>
    </div>
</div>
<div class="inpage">
    <div class="container">
        <!-- 导航栏 -->
        <div class="innav" data-spy="affix" data-offset-top="343.5">
            <ul class="nav nav-tabs">
                <li><a href="/need">需求信息</a></li>
                <li class="active"><a href="/talents">人才招聘</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>
        </div>
        <!-- 内容 -->
        <div class="tab-content">
            <div class="tab-pane active" id="anli">
                <div class="inmain">
                    <div class="intitle">
                        <h1>人才招聘</h1>
                    </div>
                    <div class="wrapper">
                        <p><span style="color:#f10b00;"><b>招聘岗位：</b></span></p>
                        <span style="color:#f10b00;"> </span>
                        <p><span style="color:#f10b00;">一、质量工程师&nbsp;&nbsp;1人</span></p>
                        <p><b>岗位职责：</b></p>
                        <p>1、负责公司质量体系的建立、维护、改进等管理工作，确保体系运行的正常有效和持续完善，对各过程质量管理的能力负责；</p>
                        <p>2、负责公司质量体系文件的管理工作；</p>
                        <p>3、负责检验、测量和试验设备的管理；</p>
                        <p>4、负责公司柴油机产品的进货、机加工、装试检验管理工作；</p>
                        <p>5、负责组织质量体系、过程和产品审核，确保质量体系的正常运行和持续改进；</p>
                        <p>6、负责不合格品的控制和管理工作；</p>
                        <p>7、负责组织各过程纠正和预防措施的实施及监督措施的有效性；</p>
                        <p>8、负责对产品、过程的更改进行管理。</p>
                        <p><b>岗位要求：</b></p>
                        <p>1、学历、专业：本科及以上学历，机械制造、质量管理等相关专业；</p>
                        <p>2、机械行业3年以上相关体系管理工作经验，能熟练运用质量管理五大工具、七大方法；</p>
                        <p>3、熟悉ISO9001：2015标准要求，有质量体系相关贯标与内部审核工作经验；</p>
                        <p>4、熟练使用办公软件、minitab软件等体系相关工作软件；</p>
                        <p>5、具有较强的领导能力、判断与决策能力、沟通协调能力、影响力、分析能力、计划与执行能力、学习能力；</p>
                        <p>6、熟悉现场质量控制、管理；有编写质量控制计划及人员培训的经验；</p>
                        <p>7、有PPAP、APQP、FEMA文件准备经验及处理质量问题时向顾客提交整改报告方面的工作经验（如8D，七步法），充分理解ISO9000，IATF16949体系和柴油机行业相关专业技术者优先。
                        </p>
                        <p></p>
                        <p><span style="color:#f10b00;">二、内燃机产品设计（侧重结构设计）&nbsp;&nbsp;2人</span></p>
                        <p><b>岗位职责：&nbsp;</b></p>
                        <p>1、负责产品及其系统、零部件的结构设计与性能开发工作以及持续改进工作；&nbsp;</p>
                        <p>2、输出符合QEHS体系要求的设计图样、技术规范、试验大纲、试验报告、产品出厂技术文件，以满足控制产品生产的需要；&nbsp;</p>
                        <p>3、根据产品开发需要，参与产品外购（协）件的选型配套工作；&nbsp;</p>
                        <p>4、对产品的试制、批生产、市场应用提供相应的技术支持；&nbsp;</p>
                        <p>5、&nbsp;总结产品研发经验，提炼并固化岗位工作要求，提升自身综合业务能力；&nbsp;</p>
                        <p>6、根据负责的研发项目制定个人工作计划，工作计划进行协调、督促工作（项目）组内成员，共同完成工作；&nbsp;</p>
                        <p>7、积极关注行业发展动态，积累产品研发素材；&nbsp;</p>
                        <p>8、完成领导安排的其他工作。&nbsp;</p>
                        <p><b>岗位要求：&nbsp;</b></p>
                        <p>1、本科学历，内燃机相关专业；</p>
                        <p>2、掌握内燃机原理、熟悉柴油机产品结构、性能；&nbsp;</p>
                        <p>3、熟练使用绘图及办公软件，英语通过CET-4。</p>
                        <p></p>
                        <p><span style="color:#f10b00;">三、人事专员兼宣传&nbsp;&nbsp;1人</span></p>
                        <p><b>岗位职责</b></p>
                        <p>1、协助领导进行培训制度的建立和完善；</p>
                        <p>2、负责建立和维护内外部培训渠道和资源，协助领导进行内训师队伍的建立；</p>
                        <p>3、负责培训需求的调查、分析，培训计划的编制与实施；对培训情况进行监督、汇总，并建立员工培训档案；新员工<b>入职培训；</b></p>
                        <p>4、及时为符合条件员工进行职称申报，根据职称机构的要求通知公修课的学习、考试相关事宜；</p>
                        <p>5、负责企业新闻摄影、文稿撰写、稿件收集工作，宣传企业形象；</p>
                        <p>6、关注公司的动态，收集相关信息，及时更新公司网站企业介绍、新闻信息、信息栏，做好图文、影音资料的分类归档；</p>
                        <p>7、负责对外投稿、宣传版面制作等工作具体联系、实施；</p>
                        <p>8、负责报告厅影音设备的日常使用、员工照拍摄及处理；</p>
                        <p>9、完成领导安排的其他工作。</p>
                        <p><b>岗位要求：</b></p>
                        <p>1、本科学历，人力资源、中文、新闻等相关专业，有1年以上宣传工作经验，较强的文字撰写能力；</p>
                        <p>2、掌握人力资源相关法律法规及知识。熟练使用办公软件、人事管理软件；</p>
                        <p>3、有团队合作精神，具有较强的组织能力、沟通协调能力、创新思维。</p>
                        <p></p>
                        <p><span style="color:#f10b00;">四、加工中心操作工&nbsp;&nbsp;2人</span></p>
                        <p>有一年以上加工中心加工操作经验，中技及以上学历，机械类专业，吃苦耐劳，有团队合作精神，服从工作安排。</p>
                        <p></p>
                        <p><span style="color:#f10b00;">五、柴油机装试工&nbsp;&nbsp;&nbsp;5人</span></p>
                        <p>从事柴油机的装配、试车、试验等相关工作，中技及以上学历，机械类专业，吃苦耐劳，有团队合作精神，服从工作安排。</p>
                        <p></p>
                        <p><span style="color:#f10b00;">六、仓库保管员兼辅助工&nbsp;&nbsp;&nbsp;1人</span></p>
                        <p>有一年以上仓管工作经验，大专学历，吃苦耐劳，有团队合作精神，服从工作安排。</p>
                        <p></p>
                        <p><span style="color:#f10b00;">公司福利：</span></p>
                        <p>双休，缴纳五险一金，提供岗位培训、带薪年休假、车贴、免费工作餐、节日福利等&nbsp;</p>
                        <p></p>
                        <p><span style="color:#f10b00;">联系方式：&nbsp;</span></p>
                        <p>应聘邮箱：WDHR@wdpower.com&nbsp;，联系电话：0510-88536859</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}