<!-- 尾部 -->
<div class="foot">
    <div class="container">
        <div class="some clearfix">
            <p>
                公司总部联系方式： 电话（总机）：0510－81885566 传真：0510－88536805 邮编：214105
                <br> 地址：中国江苏省无锡市锡山经济开发区胶阳路2721号 E-mail: wdpower@wdpower.com
            </p>
            <div class="tu">
                <a href="/"> <img src="/img/flogo.png" alt=""></a>
            </div>
        </div>
        <div class="copyright">
            <div class="copy-left">
                <p>
                    COPYRIGHT © 2017 WDPOWER.COM 无锡动力工程股份有限公司 ALL RIGHT RESERVED.
                    <br> 版权归本公司所有,未经许可不得使用、转载、摘编。
                </p>
            </div>
            <div class="copy-right text-right">
                《中华人民共和国电信与信息服务业务经营许可证》编号
                <br>
                <a href="#">苏ICP备14033756号-1</a>
            </div>
        </div>
    </div>
</div>