<!-- 通栏 -->
<header class="wjs_topBar">
    <div class="container">
        <div class="tip">欢迎您访问无锡动力工程股份有限公司的网站！</div>
        <div class="rig">
            <div class="link">
                <a href="#">加入收藏</a>
                <span>|</span>
                <a href="#">企业邮局</a>
            </div>
            <div class="lang">
                <a href="#">中文版</a>
                <a href="#">English</a>
            </div>
            <div class="tel">全国销售服务热线：0510-88536507</div>
        </div>
    </div>
</header>
<!-- 导航栏 -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="display: block;">
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/intro">公司介绍</a></li>
                <li><a href="/idea">公司理念</a></li>
                <li><a href="/news">新闻动态</a></li>
                <li><a href="/product">产品展示</a></li>
                <li><a href="/need">需求信息</a></li>
                <li><a href="/talents">人才招聘</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
