{{extend '../common/layout.html'}}
{{block 'title'}}
<title>产品详情1</title>
{{/block}}
{{block 'link'}}
<link rel="stylesheet" href="/css/xkpage.css">
<link rel="stylesheet" href="/css/xkproduct.css">
<link rel="stylesheet" href="/css/xknumber.css">
<link rel="stylesheet" href="/css/xkdetail.css">
<link rel="stylesheet" href="/css/xkintro1.css">
{{/block}}
{{block 'content'}}
<!-- 标语部分 -->
<div class="inbanner">
    <div class="container">
        <div class="title">
            <div class="company text-center">产品展示</div>
            <div class="intro text-center">公司被中国市场调查研究中心评为中国内燃机制造10强企业</div>
        </div>
    </div>
</div>
<!-- 产品介绍模块 -->
<section class="intro clearfix">
    <div class="container">
        <ul class="nav page-tabs text-center clearfix affix-top" data-spy="affix" data-offset-top="260">
            <li class="active"><a href="/product1">国Ⅲ系列</a></li>
            <li><a href="/product2">电站系列</a></li>
            <li><a href="/product3">通用配套系列</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="title text-center">
                    <h1>WD国Ⅲ系列柴油机</h1>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- 产品详情页 -->
<section class="detail clearfix">
    <div>
        <div class="img-cyj">
            <img src="/img/20180413132114501.jpg" alt="">
        </div>
        <p>　　万迪牌非道路国三排放型柴油机符合标准GB20891-2014《非道路移动机械用柴油机排气污染物排放限值及测量方法（中国第三、四阶段）》第三阶段要求，柴油机功率强劲、结构紧凑、维修方便、使用简单，功率范围353～1338kW，可供电站、水泵机组及其他通用配套等领域使用。
        </p>
        <p></p>
        <h3>产品特色：</h3>
        <p>　　·
            公司全新研制的国三系列柴油机，利用现代内燃机设计手段开发，采用WAPS-R电控高压共轨燃油喷射系统，该系统集输油泵、高压油轨、喷油器于一体，配合数字电控单元ECU的控制程序，针对柴油机不同工况进行优化，实现燃油的定时、定量、定压全过程控制，可同时满足发动机动力性、经济性及排放法规的要求。
        </p>
        <div class="img-cyj">
            <img src="/img/20180413110933280.jpg" alt="">
        </div>
        <p>　　· 采用国际的高效大流量废气涡轮增压器加空气中间冷却技术。<br />
            　　· 全新设计气缸盖、配气机构，增加循环进气量，改善进气涡流，配合专门设计的降排放燃烧室，提高燃烧效率并降低有害废气排放。<br />
            　　· 喷油器垂直布置，有利于燃油在燃烧室空间中均匀分布。<br />
            　　· 采用电控高压共轨燃油喷射系统，满足非道路排放第三阶段要求，并有进一步满足更高排放要求的技术潜力；ECU可与机组及外设进行通讯，集中控制。<br />
            　　· 燃油喷射系统、增压器、水泵、机油泵、喷油器、机油冷却器、气缸盖、活塞、气缸套等关键零部件与质量上乘的柴油机零部件供应商合作，了产品品质。</p>
        <p>
            　　· 标准的SAE飞轮壳与飞轮匹配输出功率，用户安装便捷，安装尺寸保持不变，确保与原万迪牌柴油机整机互换。</p>
    </div>
    <div class="img-cyj">
        <img src="/img/20180413132122360.jpg" alt="">
    </div>
    <div class="img-cyj">
        <img src="/img/20180413132126214.jpg" alt="">
    </div>
    <div class="img-cyj">
        <img src="/img/20180413132131355.jpg" alt="">
    </div>
    <p>　　万迪牌非道路国三排放型柴油机在公司原138、145、152系列柴油机平台的基础上，利用现代内燃机设计手段开发，采用国际的高效大流量废气涡轮增压器加空气中间冷却技术及WAPS-R电控高压共轨燃油喷射系统，该系统集输油泵、高压油轨、喷油器于一体，配合数字电控单元ECU的控制程序，针对柴油机不同工况进行优化，实现燃油的定时、定量、定压全过程控制，可同时满足发动机动力性、经济性及排放法规的要求，ECU可与机组及外设进行通讯，集中控制。经机械工业内燃机产品质量检测中心（济南）检测，万迪牌非道路国三排放型柴油机符合标准GB20891-2014《非道路移动机械用柴油机排气污染物排放限值及测量方法（中国第三、四阶段）》第三阶段要求，并有进一步满足更高排放要求的技术潜力。
    </p>
    <h3>WD系列非道路国三排放柴油机</h3>
    <table cellspacing="0" cellpadding="0" class="product-table ke-zeroborder">
        <tbody>
            <tr>
                <th>
                    参数
                    型号</th>
                <th>
                    标定转速 r/min</th>
                <th>
                    标定功率 kW</th>
                <th>
                    燃油耗率 g/kW·h</th>
                <th>
                    排温
                    °C</th>
            </tr>
            {{each listMsg1}}
            <tr>
                <td>{{$value.model}}</td>
                <td>{{$value.speed}}</td>
                <td>{{$value.KW}}</td>
                <td>{{$value.oil}}</td>
                <td>{{$value.temperature}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h3>蓝迪系列非道路国三排放柴油机</h3>
    <table cellspacing="0" cellpadding="0" class="product-table ke-zeroborder">
        <tbody>
            <tr>
                <th>
                    参数
                    型号</th>
                <th>
                    标定转速 r/min</th>
                <th>
                    标定功率 kW</th>
                <th>
                    燃油耗率 g/kW·h</th>
                <th>
                    排温
                    °C</th>
            </tr>
            {{each listMsg2}}
            <tr>
                <td>{{$value.model}}</td>
                <td>{{$value.speed}}</td>
                <td>{{$value.KW}}</td>
                <td>{{$value.oil}}</td>
                <td>{{$value.temperature}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<!-- 执照照片 -->
<section class="license row">
    <div>
        <img src="/img/20180423132454559.jpg" alt="">
    </div>
    <div>
        <img src="/img/20180423132457178.jpg" alt="">
    </div>
    <p>
        <img src="/img/20180423132500622.jpg" alt="">
    </p>
</section>
<!-- 底部页码 -->
<section class="footer-page clearfix">
    <div>◀ 上一篇</div>
    <div>
        <a href="/detail">回到顶部</a>
    </div>
    <div><a href="/detail2">下一篇 ▶</a></div>
</section>

{{/block}}
{{block 'script'}} {{/block}}