{{extend '../common/layout.html'}} 
{{block 'title'}}
<title>产品详情5</title>
{{/block}}
{{block 'link'}}
<link rel="stylesheet" href="/css/xkpage.css">
<link rel="stylesheet" href="/css/xkproduct.css">
<link rel="stylesheet" href="/css/xknumber.css">
<link rel="stylesheet" href="/css/xkdetail.css">
<link rel="stylesheet" href="/css/xkintro1.css">
{{/block}}
{{block 'content'}}
<!-- 标语部分 -->
<div class="inbanner">
    <div class="container">
        <div class="title">
            <div class="company text-center">产品展示</div>
            <div class="intro text-center">公司被中国市场调查研究中心评为中国内燃机制造10强企业</div>
        </div>
    </div>
</div>
<!-- 产品介绍模块 -->
<section class="intro clearfix">
    <div class="container">
        <ul class="nav page-tabs text-center clearfix affix-top" data-spy="affix" data-offset-top="375">
            <li><a href="/product1">国Ⅲ系列</a></li>
            <li class="active"><a href="/product2">电站系列</a></li>
            <li><a href="/product3">通用配套系列</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="title text-center">
                    <h1>应急电源配套动力系列柴油机</h1>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- 产品详情页 -->
<section class="detail clearfix">
    <div>
        <div class="img-cyj">
            <img src="/img/20190617161706540.jpg" alt="">
        </div>
        <h3>产品特色：</h3>
        <p>
            　　·性能升级：军工技术、AVL咨询，一键起动，满足应急需要<br><br>

            　　·功率升级：功率262kW~1338kW ,适应应急电源动力市场需要<br><br>

            　　·结构升级：改进密封结构，整机外观更具工业设计感<br>
        </p>
    </div>

    <h3>主要型号技术参数：</h3>
    <table cellspacing="0" cellpadding="0" class="product-table ke-zeroborder">
        <tbody>
            <tr>
                <th>参数 型号</th>
                <th>缸径×冲程mm</th>
                <th>排量 L</th>
                <th>标定转速r/min</th>
                <th>标定功率kW</th>
                <th>燃油耗率g/kW·h</th>
                <th>机油 耗率g/kW·h</th>
                <th>排温 ℃</th>
            </tr>
            {{each listMsg6}}
            <tr>
                <td>{{$value.model}}</td>
                <td>{{$value.travel}}</td>
                <td>{{$value.displacement}}</td>
                <td>{{$value.speed}}</td>
                <td>{{$value.normKW}}</td>
                <td>{{$value.fuOil}}</td>
                <td>{{$value.enOil}}</td>
                <td>{{$value.temperature}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<!-- 底部页码 -->
<section class="footer-page clearfix">
    <div><a href="/detail4">◀ 上一篇</a></div>
    <div>
        <a href="/detail5">回到顶部</a>
    </div>
    <div><a href="/detail6">下一篇 ▶</a></div>
</section>

{{/block}}
{{block 'script'}} {{/block}}